
nav{
    background: #445653;
}
nav .navbar-brand , nav .nav-link{
    color: #6e4c22;
    font-size: 28px;
    font-weight: 600;
    text-decoration:none;
}
.container-fluid{
    background: #CFC3B6;
}
.boody{
    width: 100%;
    height: 100%;
    background: #CFC3B6;
    color: #855a26;
}
.boody h1{
    text-align: center;
}
.sidebar{
    position: sticky;
    top: 0;
    height: 100vh;
    background: #445653;
}
.sidebar ul{
    margin-top: 50px;
}
.sidebar li{
    padding: 10px 5px ;
    text-align: center;
}
.sidebar li a{
    color: #8F6E47;
    font-size: 28px;
    font-weight: 600;
    text-decoration:none;
}